body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
}

.seekControl{
	position:absolute;
	z-index: 1
	width:300px;
	left:50%;
	top:70%;


}

.abs{
  position: absolute;
}


.main-text{
  text-transform: uppercase;
  font-family: 'MontSerrat';
  margin-top:50%;

}


.main-text>h1{
	color: #c6cfc8;
	font-size:10rem;
	line-height: .8em;
	border:5px solid #c6cfc8;
	padding: .2em;
}

.main-text>h4{
	color: #6e6365;
	font-weight:700;
	font-size:1rem;
	width: auto;
	line-height: .8em;
	padding: .2em;
}

#slider-container{
	display: none;
	position:absolute;
	right:-10%;
	top:10%;
	z-index: 700;
	width:500px;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(-90deg);
}
.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  margin-top: 10px;
  transform: translate(-150%, -150%);
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59,173,227,1);
  background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59,173,227,1);
  background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -webkit-grab;

  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}



.range.blue::-webkit-slider-thumb {
   border-color: rgb(59,173,227);
}

.range.ltpurple::-webkit-slider-thumb {
   border-color: rgb(87,111,230);
}

.range.purple::-webkit-slider-thumb {
   border-color: rgb(152,68,183);
}

.range.pink::-webkit-slider-thumb {
   border-color: rgb(255,53,127);
}

.range.blue::-moz-range-thumb {
   border-color: rgb(59,173,227);
}

.range.ltpurple::-moz-range-thumb {
   border-color: rgb(87,111,230);
}

.range.purple::-moz-range-thumb {
   border-color: rgb(152,68,183);
}

.range.pink::-moz-range-thumb {
   border-color: rgb(255,53,127);
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

/*@media(max-width: 360px){
.main-text{
  margin-top: 20%;
}
  .main-text>h1{
  font-size:4rem;
}
}




@media(max-width: 420px and min-width: 370px){
.main-text{
  margin-top: 20%;
}
  .main-text>h1{
  font-size:4rem;
}
}

@media(max-width: 700px and min-width: 430px){

.main-text{
  margin-top: 20%;
}
  .main-text>h1{
  font-size:5.5rem;
}
}

@media(min-width: 710px){

.main-text{
  margin-top: 20%;
}
  .main-text>h1{
  font-size:10rem;
}
}*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.main-text{
  margin-top: 35vh;
}
  .main-text>h1{
  font-size:2rem;
  border:2px solid #c6cfc8;
}

  .main-text>h4{
  font-size:0.7rem;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.main-text{
  margin-top: 35vh;
}
  .main-text>h1{
  font-size:3.5rem;
  border:4px solid #c6cfc8;
}

  .main-text>h4{
  font-size:1rem;
}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .main-text{
  margin-top: 35vh;
}
  .main-text>h1{
  font-size:5rem;
  border:4px solid #c6cfc8;
}

  .main-text>h4{
  font-size:1.5rem;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-text{
  margin-top: 35vh;
}
  .main-text>h1{
  font-size:5.5rem;
  border:5px solid #c6cfc8;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .main-text{
  margin-top: 35vh;
}
  .main-text>h1{
  font-size:5.5rem;
}


}